body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #565676;
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  /* margin-top: 2rem; */
  transform: scale(0.8);
  margin-top: 0px !important;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover {
  background-color: #2e1c2b;
  cursor: pointer;
}
h1 {
  text-align: center;
  font-family: pristina, cursive, monospace;
  color: #ffffff;
  background-color: #2e1c2b;
  margin-top: 0px;
  height: 60px;
  padding-top: 20px;
  font-size: 40px;
  font-weight: 200;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  gap: 3rem;
}

.score {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.msg-container {
  display: flex;
  justify-content: center;
}

#user-score,
#comp-score {
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

#msg {
  margin-top: 1rem;
  background-color: #2e1c2b;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.user,
.comp {
  font-family: pristina, cursive, monospace;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.scored {
  display: flex;
  justify-content: center;
  height: 140px;
  margin-bottom: 20px;
}

.score-board {
  border: 2px solid #2e1c2b;
  height: 160px;
  width: 450px;
  transform: scale(0.8);
  border-radius: 25px;
  margin-top: 0;
  background-color: #4c3549;
  box-shadow: inset 5px 5px 5px 3px #2e1c2b, inset -5px -5px 5px 3px #2e1c2b;
}

h4 {
  font-family: pristina, cursive, monospace;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.comp-choice {
  font-size: 2rem;
}

.para {
  font-weight: 800;
  font-family: pristina, cursive, monospace;
  font-size: 35px;
  margin-top: 17px;
  margin-bottom: 0px;
  position: absolute;
  margin-left: 3px;
}

.rock,
.paper,
.scissors {
  margin-top: 8px !important;
}

.compinfo {
  height: 80px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 25px;
  border: 3px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.rock,
.paper,
.scissors {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-top: 20px;
  margin-left: 10px;
}

.rock {
  display: none;
}

.paper {
  display: none;
}

.scissors {
  display: none;
}

.container {
  display: flex;

  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .compinfo {
    width: 350px;
  }
  body {
    transform: scale(0.8); /* Adjust font size */
  }
  h1,
  h4,
  .para,
  .comp,
  .user {
    font-family: Brush Script MT, pristina, Brush Script MT, Brush Script Std,
      fantasy, cursive, monospace;
    font-display: swap;
  }
}
